<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.rimin.spring.test.jstl.repository.WeatherRepository">
	
	<select id="callWeatherList" 
			resultType="com.rimin.spring.test.jstl.domain.Weather">
		SELECT
			`id`
			, `date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		FROM
			`weatherhistory`
	
	
	
	</select>



</mapper>